body {
    background-color: lightblue; /* This should apply when loaded */
    font-family: 'Arial', sans-serif;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    color: darkblue;
}
